
html, body
  background-color #4a4e51
  // #fff
.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color alpha($navbarColor, 0.8)
  // background-color #00b450
  //  #fff
  box-sizing border-box
  border-bottom 1px solid #5a5a5a
  // $borderColor
  .links
    // background-color $navbarColor
    // background-color alpha($navbarColor, 0.8)

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 16px
  background-color #4a4e51
  // #fff
  // background-color alpha($navbarColor, 0.8)
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid #5a5a5a
  // $borderColor
  overflow-y auto

h1, h2
  color #90c221
  // #EC5975