$navbarColor = #4a4e51
// #00b450 
$textColor = #fff
// #00b450
// #2c3e50
$accentColor = #00b450
// #3963bc
// #2c3e50
// #fff
$sidebarWidth = 14rem   // 20rem
$navbarHeight = 4.6rem
$contentWidth = 940px
// 9rem
$borderColor = #5a5a5a